.comments{
  margin-bottom: 10px;
  background-color: white;

  .comments-head{
    display: flex;
    padding: 12px;
    .comments-head-title{
      flex: 1;
      font-size: 16px;
      font-weight: bold;
    }
    .comments-head-link{
      flex: 1;
      font-size: 12px;
      color: #808080;
      text-align: right;
    }
  }

  .comments-item{
    padding: 12px;
    border-top: 1px solid #E9ECF0;
    .comments-item-head{
      display: flex;
      .comments-item-head-user{
        flex: 1;
        .comments-item-head-user-avatar{
          border-radius: 10px;
          width: 20px;
          vertical-align: middle;
        }
        & > span{
          margin-left: 12px;
          font-size: 12px;
          vertical-align: middle;
        }
      }
      .comments-item-head-score{
        --star-size: 10px;
        --active-color: #fd6285;
      }
    }

    .comments-item-content{
      margin-top: 12px;
    }

    .comments-item-imgList{
      margin-top: 12px;
      display: flex;

      .comments-item-imgList-img{
        width: 80px;
        height: 80px;
        margin-left: 8px;

        &:first-child{
          margin-left: 0;
        }
      }
    }

    .comments-item-address{
      margin-top: 10px;
      font-size: 12px;
      color: #B4BABF;

      & > svg{
        margin-right: 2px;
      }
    }
  }
}