.goods{
  display: flex;
  flex-direction: column;

  .pro-goods{
    margin-bottom: 10px;
    background-color: white;

    .pro-info{
      padding: 12px;

      .pro-info-top{
        display: flex;

        .title{
          flex: 9;
          & > span:first-child{
            font-size: 14px;
            display: block;
            padding-bottom: 2px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          & > span:last-child{
            color: #ff6363;
            display: block;
          }
        }
        .icon{
          flex: 1;
          font-size: 24px;
          margin: 5px 0 auto 0;
          text-align: center;
        }
      }

      .pro-info-bottom{
        display: flex;
        margin-top: 10px;

        .price{
          flex: 8;
          & > span:first-child{
            font-size: 20px;
            font-weight: bolder;
            color: #fd6285;
            font-family: SourceHanSansCN;
          }
          & > span:last-child{
            font-size: 14px;
            text-decoration: line-through;
            color: #B4BABF;
            margin-left: 5px;
          }
        }
        .sale-count{
          flex: 2;
          font-size: 12px;
          margin: auto 0;
          text-align: center;
        }
      }
    }
  }

  .goods-nav{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    height: 51px;
    background-color: white;
    display: flex;

    & .adm-grid-item:first-child{
      border-right: 1px solid #E9ECF0;
    }

    .goods-nav-left{
      flex: 2;
    }
    .goods-nav-right{
      flex: 3;
      display: flex;

      .goods-nav-addCart{
        flex: 1;
        font-size: 14px;
        --background-color: #f0f5e5;
        --text-color: #6dc457;
        --border-radius: 0;
        --border-width: none;
      }
      .goods-nav-buyBtn{
        flex: 1;
        font-size: 14px;
        --background-color: rgb(232, 72, 108);
        --text-color: white;
        --border-radius: 0;
        --border-width: none;
      }
    }
  }
}