.my-search-bar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  background-color: white;
  display: flex;
  z-index: 9;

  .back-btn{
    flex: 0;
    display: flex;

    & > svg{
      margin: auto 0;
      padding: 0 10px 2.5px 12px;
    }
  }

  .search-bar{
    flex: 9;
    margin: auto 0;
    --border-radius: 15px;
  }

  .search-btn{
    flex: 1;
    height: 32px;
    margin: auto 12px;
    background-color: rgba(232,72,108,0.7);
    color: #ffffff;
  }
}
